* Styles for tab labels */
.mat-tab-label {
    width: 25px !important;
    background-color: rgb(255, 0, 85);
    color: rgb(255, 0, 85);
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    width: 25px !important;
    background-color: rgba(255, 0, 85, 0.247);
    color: rgb(255, 0, 85) !important;;
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}

table {
    width: 100%;
    overflow-x:auto;
  }
  th, tr {
    min-width: 100px;
  }

  .scroll {
    overflow-x:auto;

  }
  

  @media (max-width: 500px){
    .visibility {
        display: none;
    }
  }
